<script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io();

    socket.on("new-blog", ({ blogId, title }) => {
        Swal.fire({
            title: "🆕 New Blog Posted!",
            text: `${title} has just been published.`,
            icon: "info",
            showCancelButton: true,
            confirmButtonText: "Read Now",
            cancelButtonText: "Later",
        }).then(result => {
            if (result.isConfirmed) {
                window.location.href = `/blog/${blogId}`;
            }
        });
    });
</script>
<script async="async" data-cfasync="false" src="https://pl28914866.effectivegatecpm.com/1f34463dd31a971b3801767a681dbca0/invoke.js"></script>
<div id="container-1f34463dd31a971b3801767a681dbca0"></div>
